 body {
      margin: 0;
    }
    .header {
      background-color: rgb(170, 233, 233);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;
    }
    .logo {
      width: 80px;
      border-radius: 15px;
    }
    .link {
      color: white;
      padding: 5px 20px;
      text-decoration: none;
      border-radius: 15px;
    }
    .link:hover {
      color: black;
      background-color: rgb(59, 48, 217);
    }
    .nn {
      background: 10px;
      background-color: red;
      color: #fefefe;
      border-radius: 20px;
    }
    .nn:hover {
      background-color: deeppink;
      border-radius: 15px;
    }
    .landing-page {
        background-color: rgb(170, 233, 233);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 50px;
        color: white;
        border-radius: 0 0 50px 50px;
    }
    .landing-page-image-section {
      width: 500px;
    }
    .landing-page-search input {
        border-radius: 50px;
        border: none;
        outline: none;
        height: 30px;
        padding: 0 10px;
    }
    
    .landing-page-search button{
        background: 10px;
      background-color: red;
      color: #fefefe;
      border-radius: 15px;
      height: 30px;
    }
    .landing-page-image-container {
      border-radius: 20px;
      width: 250px;
    }
.card {
  width: 200px;
  background: #f6ededbb;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}
.card-info {
  display: flex;
  flex-direction: column;
}
.category {
  color:rgb(15, 15, 15);
  font-size: 14px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.small-icon {
  width: 30px; 
  margin-left: auto;
  border-radius: 15px;
}



